.cartContainer {
    border: 1px solid rgb(186, 176, 176);
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 4px 12px rgb(199, 196, 196);
}

.cartItem {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 10px;
    margin-bottom: 16px;
}

.total {
   text-align: right;
   margin-right: 24px;
   font-weight: bold;
}

.checkoutBtn {
    display: flex;
    justify-content: center;
}

.checkoutBtn button {
    width: 150px;
    height: 50px;
    background-color: #3878b0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}