.loader {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(199, 196, 196);
    border-radius: 50%;
    border-right: 2px solid rgb(110, 110, 252);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}