.listContainer {
  margin-top: 50px;
}

li {
  list-style: none;
}

.productContainer {
  display: grid;
  grid-template-columns: 0.5fr 9fr 1fr;
  grid-gap: 16px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(182, 177, 177);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(143, 137, 137);
}

.title {
  font-weight: bold;
}

.productContainer button {
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.productContainer button:hover {
  background-color: rgb(233, 238, 240);
}